FUJI.SenderFeed2SCU.Service/Service References/Feed2Service/NapoleonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_3.FUJI.Napoleon.Site.Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_3.FUJI.Napoleon.Site.Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54279/Services/NapoleonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" />
  <xs:import schemaLocation="http://localhost:54279/Services/NapoleonService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/_2.FUJI.Napoleon.AccesoDatos.DataAccess" />
  <xs:complexType name="LoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginRequest" nillable="true" type="tns:LoginRequest" />
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="CurrentUser" nillable="true" type="q1:clsUsuario" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="ProyectoRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="lstSites" nillable="true" type="q2:ArrayOfclsConfigSitio" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/_2.FUJI.Napoleon.AccesoDatos.DataAccess" minOccurs="0" name="lstSitos" nillable="true" type="q3:ArrayOftbl_REL_ProyectoSitio" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/_2.FUJI.Napoleon.AccesoDatos.DataAccess" minOccurs="0" name="mdlProyecto" nillable="true" type="q4:tbl_CAT_Proyecto" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProyectoRequest" nillable="true" type="tns:ProyectoRequest" />
  <xs:complexType name="ProyectoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProyectoResponse" nillable="true" type="tns:ProyectoResponse" />
  <xs:complexType name="EstudioRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/_2.FUJI.Napoleon.AccesoDatos.DataAccess" minOccurs="0" name="_mdlPrioridad" nillable="true" type="q5:tbl_MST_PrioridadEstudio" />
      <xs:element minOccurs="0" name="intUsuarioID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstudioRequest" nillable="true" type="tns:EstudioRequest" />
  <xs:complexType name="EstudioResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="_mensaje" nillable="true" type="q6:clsMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstudioResponse" nillable="true" type="tns:EstudioResponse" />
  <xs:complexType name="PrioridadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="intEstudioID" type="xs:int" />
      <xs:element minOccurs="0" name="intSecuenciaActual" type="xs:int" />
      <xs:element minOccurs="0" name="intUsuarioID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrioridadRequest" nillable="true" type="tns:PrioridadRequest" />
  <xs:complexType name="PrioridadResponse">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="_mensaje" nillable="true" type="q7:clsMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrioridadResponse" nillable="true" type="tns:PrioridadResponse" />
  <xs:complexType name="PrioridadModalidadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intUsuarioID" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="mdlPrioridad" nillable="true" type="q8:clsPrioridadSucursal" />
      <xs:element minOccurs="0" name="vchPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrioridadModalidadRequest" nillable="true" type="tns:PrioridadModalidadRequest" />
  <xs:complexType name="PrioridadSucModRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="activar" type="xs:boolean" />
      <xs:element minOccurs="0" name="intUsuarioID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mosID" type="xs:int" />
      <xs:element minOccurs="0" name="vchPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrioridadSucModRequest" nillable="true" type="tns:PrioridadSucModRequest" />
  <xs:complexType name="ClienteF2CRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="estudio" nillable="true" type="q9:clsEstudio" />
      <xs:element minOccurs="0" name="id_Sitio" type="xs:int" />
      <xs:element minOccurs="0" name="intDetEstudioID" type="xs:int" />
      <xs:element minOccurs="0" name="intUsuarioID" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/_2.FUJI.Napoleon.AccesoDatos.DataAccess" minOccurs="0" name="mdlConfig" nillable="true" type="q10:tbl_ConfigSitio" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="mdlConfiguracion" nillable="true" type="q11:clsConfiguracion" />
      <xs:element minOccurs="0" name="tipoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="vchClaveSitio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteF2CRequest" nillable="true" type="tns:ClienteF2CRequest" />
  <xs:complexType name="ClienteF2CResponse">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="ConfigSitio" nillable="true" type="q12:clsConfiguracion" />
      <xs:element minOccurs="0" name="id_Sitio" type="xs:int" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/_1.FUJI.Napoleon.Entidades" minOccurs="0" name="lstEstudio" nillable="true" type="q13:ArrayOfclsEstudio" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valido" type="xs:boolean" />
      <xs:element minOccurs="0" name="vchFormato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteF2CResponse" nillable="true" type="tns:ClienteF2CResponse" />
</xs:schema>